.fix-01{
    background:#fff; 
    box-shadow:0 2px 8px rgba(30,30,80,.3); 
    left:0;
    line-height:1;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    text-align:center;
    padding:1rem;
}